# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\guapo\Desktop\PROYECTOS\App WEB Y MOVIL\MOVIL-Actual-GitLab\api-jwt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
